/**
 * Custom site styles
 */
 html.home-page {
     background : url(/img/0232.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }
